@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;

200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap);:root {
  /*------------------------------------
                COLORS
  ------------------------------------*/
  --primary-color: #0c7cec;
  --secondary-color: #0282f9;
  /*------------------------------------
             CONTAINERS SIZE
  ------------------------------------*/
  --container-md: 75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__top {
  min-height: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  text-align: right;
  font-size: 0.75rem;
}

.header__top span {
  padding: 0.3125rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.header__logo img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.6125rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  font-size: 0.75rem;
  font-weight: bold;
  height: 100%;
  align-items: center;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
}

.jumbo {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  height: 20rem;
}

